.div1{
    border: 1px solid green;
    width:900px ;
    height: 900px;
    border-radius: 10px;
    background-color: greenyellow;
}
.div2{

    border: 1px solid white;
    width: 400px;
    height: 30px;
    background-color: rgb(194, 226, 146);
    margin-left: 50px;
}

img{
    width: 20px;
}
h3{
    margin-left: 20px;
}
input{
    margin-top: 5px;
}
#adsoyad{
    margin-left: 50px;
}
#email{
    margin-left: 65px;
}
#telefon{
    margin-left: 65px;
}
.div3{
    border: 1px solid white;
    width: 400px;
    height: 170px;
    margin-left: 50px;
    background-color: rgb(194, 226, 146);
}
#adres{
    margin-left: 70px;
}
#posta{
    margin-left: 33px;
}
#ülke{
    margin-left: 75px;
}
.div4{
    border: 1px solid white;
    width: 400px;
    background-color:rgb(194, 226, 146) ;
    margin-left: 50px;
}
footer{
    
    width: 200px;
    margin-left: 200px;
}
a:hover{
   color: brown;
}